@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  background-color: #d8cec4;
  background-image: url('/images/bg-min.jpg');
  background-size: 1200px,900px,200px;
  background-position: 0 0,100% 100%,50%;
  background-attachment: fixed,scroll,scroll;
}

.svgBlack {
  filter: brightness(0) saturate(100%);
}